In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2

# Questions:
> * 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
> * 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
> * 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
> * 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
> * 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
> * 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
> * 7. Which lessons are least accessed?
> * 8. Anything else I should be aware of?

In [10]:
cohorts = pd.read_csv('cohorts_data.csv')
logs = pd.read_csv('logs_data.csv')

for col in cohorts.columns:
    if 'Unnamed' in col:
        cohorts = cohorts.drop(columns=[col])

for col in logs.columns:
    if 'Unnamed' in col:
        logs = logs.drop(columns=[col])

cohorts.head()

,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
1,2,Badlands,#badlands,2014-06-04,2014-08-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
2,3,Carlsbad,#carlsbad,2014-09-04,2014-11-05,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
3,4,Denali,#denali,2014-10-20,2015-01-18,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
4,5,Everglades,#everglades,2014-11-18,2015-02-24,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1

In [15]:
cohorts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          53 non-null     int64
 1   name        53 non-null     object
 2   slack       53 non-null     object
 3   start_date  53 non-null     object
 4   end_date    53 non-null     object
 5   created_at  53 non-null     object
 6   updated_at  53 non-null     object
 7   deleted_at  0 non-null      float64
 8   program_id  53 non-null     int64
dtypes: float64(1), int64(2), object(6)
memory usage: 3.9+ KB

In [16]:
cohorts= cohorts.drop(columns=['deleted_at'])
cohorts.head(3)

,id,name,slack,start_date,end_date,created_at,updated_at,program_id
0,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,1
1,2,Badlands,#badlands,2014-06-04,2014-08-22,2016-06-14 19:52:26,2016-06-14 19:52:26,1
2,3,Carlsbad,#carlsbad,2014-09-04,2014-11-05,2016-06-14 19:52:26,2016-06-14 19:52:26,1

In [70]:
cohorts.tail(4)

,id,name,slack,start_date,end_date,created_at,updated_at,program_id
49,136,Placeholder for students in transition,#null,2021-03-03,2029-03-01,2021-03-03 21:50:49,2021-03-03 21:52:56,2
50,137,Florence,#florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3
51,138,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,2
52,139,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,2

In [11]:
logs.head()

,date,time,path,user_id,cohort_id,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [17]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       900223 non-null  object
 1   time       900223 non-null  object
 2   path       900222 non-null  object
 3   user_id    900223 non-null  int64
 4   cohort_id  847330 non-null  float64
 5   ip         900223 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 41.2+ MB

In [19]:
logs.cohort_id.value_counts(dropna=False)

28.0     84031
NaN      52893
33.0     40730
29.0     38096
62.0     37109
53.0     36902
24.0     35636
57.0     33844
56.0     33568
51.0     32888
59.0     32015
22.0     30926
58.0     29855
32.0     29356
23.0     28534
52.0     28033
26.0     27749
34.0     26538
25.0     25586
31.0     25359
132.0    23691
55.0     21582
27.0     20743
61.0     17713
134.0    16623
135.0    16397
133.0    14715
14.0      9587
1.0       8890
137.0     8562
21.0      7444
138.0     7276
17.0      4954
13.0      2845
18.0      2158
8.0       1712
139.0     1672
19.0      1237
16.0       755
15.0       691
7.0        598
12.0       302
11.0       253
2.0         93
6.0         72
9.0          5
4.0          4
5.0          1
Name: cohort_id, dtype: int64

In [22]:
logs = logs.fillna(0)

In [72]:
df = pd.merge(left_on=logs.cohort_id, right_on=cohorts.id, left=logs, right=cohorts,how='outer').drop(columns='key_0')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900229 entries, 0 to 900228
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        900223 non-null  object
 1   time        900223 non-null  object
 2   path        900223 non-null  object
 3   user_id     900223 non-null  float64
 4   cohort_id   900223 non-null  float64
 5   ip          900223 non-null  object
 6   id          847336 non-null  float64
 7   name        847336 non-null  object
 8   slack       847336 non-null  object
 9   start_date  847336 non-null  object
 10  end_date    847336 non-null  object
 11  created_at  847336 non-null  object
 12  updated_at  847336 non-null  object
 13  program_id  847336 non-null  float64
dtypes: float64(4), object(10)
memory usage: 103.0+ MB

In [31]:
df.head()

,date,time,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,program_id
0,2018-01-26,09:55:03,/,1.0,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
1,2018-01-26,09:56:02,java-ii,1.0,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1.0,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1.0,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
4,2018-01-26,10:40:15,javascript-i/functions,1.0,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0

### 7. Which lessons are least accessed?

> * General start and end of entire site
> * General start and end for each module/lesson
> * See if things haven't been accessed in a long time

MVP: 
Lessons


**NOTE:** At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

In [73]:
#Range of Dates for entire site:
df.date = pd.to_datetime(df.date+" " +df.time)
df[df.date.isnull()].shape[0]

6

> **note:** Only 6 datetime values that are non-functional

In [77]:
# name of the cohorts/placeholders with inaccurate date values
df.name[df.date.isnull()]

900223                                  Carlsbad
900224                                    Balboa
900225                                   Redwood
900226                                       Ada
900227                                        Io
900228    Placeholder for students in transition
Name: name, dtype: object

In [80]:
# confirming the number of occurrences of the above cohorts/ph
df.name.value_counts().tail(10)

Franklin                                  72
Apollo                                     5
Denali                                     4
Redwood                                    1
Io                                         1
Ada                                        1
Everglades                                 1
Balboa                                     1
Carlsbad                                   1
Placeholder for students in transition     1
Name: name, dtype: int64

In [83]:
df.date.min(), df.date.max()

(Timestamp('2018-01-26 09:55:03'), Timestamp('2021-04-21 16:44:39'))

**Conclusion**: Our data started on Jan 26th, 2018 and is current up to April 21, 2021

In [33]:
df.path.value_counts()

/                                                 50313
search/search_index.json                          19519
javascript-i                                      18983
toc                                               18297
java-iii                                          13733
                                                  ...
13-storytelling/2.2-create                            1
2-sql/database-design                                 1
4-stats/1-descriptive-stats                           1
4-stats/2.1-probability_and_event_interactions        1
where                                                 1
Name: path, Length: 2314, dtype: int64

In [36]:
num_paths = df.path.nunique()

In [167]:
bottom_500 = np.unique(df.path.value_counts().iloc[num_paths-450:,].values)
bottom_500

array([1, 2])

# CONCLUSION:

> * **450** of the **2300** **(~20%)** pages have been accessed only once

In [142]:
word_counts = {}


for path in df.path.value_counts().index:
    word = str(path)
    for elem in word.split('/'):
        if len(elem) > 0 and elem not in list(word_counts.keys()):
            word_counts[elem] = 1
        elif len(elem) > 0:
            word_counts[elem] += 1
            
word_count = pd.Series(word_counts, name='word_count').sort_values(ascending=False)
word_count

content                        337
appendix                       222
html-css                        77
mysql                           77
examples                        77
                              ...
13.3_Refine                      1
bootstrap-introduction.html      1
styling-webpages                 1
9.20_Data                        1
2-sql                            1
Name: word_count, Length: 1614, dtype: int64

In [128]:
df.path.head()

0                                      /
1                                java-ii
2    java-ii/object-oriented-programming
3     slides/object_oriented_programming
4                 javascript-i/functions
Name: path, dtype: object

In [159]:
first_word = [str(path).split('/')[0] for path in df.path.value_counts().index]
second_word = [str(path).split('/')[1] for path in df.path.value_counts().index if len(str(path).split('/'))>1]
third_word = [str(path).split('/')[2] for path in df.path.value_counts().index if len(str(path).split('/'))>2]
fourth_word = [str(path).split('/')[3] for path in df.path.value_counts().index if len(str(path).split('/'))>3]
fifth_word = [str(path).split('/')[4] for path in df.path.value_counts().index if len(str(path).split('/'))>4]
sixth_word = [str(path).split('/')[5] for path in df.path.value_counts().index if len(str(path).split('/'))>5]
seventh_word = [str(path).split('/')[6] for path in df.path.value_counts().index if len(str(path).split('/'))>6]

word_list = [first_word, second_word, third_word, fourth_word, fifth_word, sixth_word, seventh_word]

def flatten(a_list):
    return [word for words in word_list for word in words]

separators = ['.', '-', '_']
set(flatten(word_list))

{'',
 'quiz118',
 '3.6-creating-stories',
 'resource-controllers.html',
 'florence-python-assessment.html',
 'MachineLearning_CheatSheet',
 ':view-page',
 '3-prep',
 'css-practice',
 'Regression_Python',
 '10.02.04_EntityLabeling',
 'imports',
 '2.03_Inferential',
 'phpinfo',
 '4-stats',
 'dom-query-modify.html',
 'images',
 'intellij',
 'Probability.md',
 'www.openstreetmap.org',
 '3.1-mysql-introduction',
 '10.04.03_SentimentAnalysis',
 'SpecRunner.html',
 'basic_challenges',
 'flexbox-cards.zip',
 '2.0-acquire-and-prep',
 '2.00.01_Navigating_Excel.md',
 'notes',
 '10.1_Overview',
 'python',
 'query-and-results.html',
 'this.html',
 'for.html',
 'resume-portfolio',
 'asdfasdf',
 'capstone-workbook',
 'interview',
 'EDIT',
 'Dataset_Challenge',
 'Stats_Assessment',
 'this',
 'Regression%20_Project.md',
 'End_to_End_Clustering',
 'prep',
 'tables',
 '3.3-explore',
 'locations.html',
 'index.md',
 '51',
 '2.7-correlation',
 'writing-to-files.html',
 '10.10_Exercises',
 'grids',
 '132',
 '6-stats',
 '2.1-spreadsheets-overview',
 '882',
 'ajax-store.html',
 'arithmetic-operators.html',
 'appendix',
 '7.03_Explore',
 'mapbox-api',
 'bootstrap-grids.html',
 '2186',
 '3.7-group-by',
 '8.7_Deliver',
 'coffee_consumption.csv',
 'power-analysis',
 '13-advanced-topics',
 'Clustering_Acquire',
 '8-project',
 'Regression_Python.md',
 'review',
 '5-model',
 'reading-files.html',
 'assets.zip',
 '3.3-creating-charts',
 '2.00.02_Navigating_Excel',
 'extra-exercises',
 'db-relationships.html',
 'detecting-timeseries-anomalies',
 '12.3_Developing_Data_Products',
 '12.3.7_JSON_Responses',
 'attributes-and-css.html',
 'ds',
 'search-arrays.php',
 '0_Classification_Algorithms',
 '151',
 '2.00.01_Navigating_Excel',
 'Classification_LogisticRegression',
 'constructors-destructors.html',
 'trains.html',
 '5.02_Prep',
 '9_Appendix_TSAD_Lesson3',
 'quiz115',
 'explore',
 '8.0_Intro_Module',
 '10.02.04_EntityLabeling.md',
 'user-input',
 'introduction:view-page',
 'db-migrations.html',
 '3.5.1-where',
 'constants.html',
 'capsones',
 'math',
 '7.3-intro-to-numpy',
 'database',
 '10.6_Model',
 '11_Exercises',
 'listing-files',
 '%252e%252e%255c',
 '8.4_Prep',
 '7-functions',
 'understand',
 '11.01.02_DataAcquisition.md',
 'mouse-events.html',
 'pdf-parser',
 'www.census.gov',
 'student',
 'amateur',
 'facebook-clone',
 'eloquent-orm.html',
 'namespacing.html',
 '11.04_Modeling',
 'sessions-with-php.html',
 'git-branching',
 '3-tableau',
 'objects-other-types-and-review.html',
 'present',
 'wrangle',
 'pizza.png%22);',
 '13.4_Present',
 'pagination.html',
 '6.04.05_SVM',
 'introduction-to-matplotlib',
 'post-interview-review-form',
 '4.3-sampling',
 '7.0_Intro_Clustering',
 'workbook',
 'T-Block-Lesson',
 '2.4-more-excel-features',
 '6.04.02_DecisionTree',
 'creating-charts',
 '10.03_FeatureExtraction_BOW',
 '13.01.03_Refine',
 'dom-events',
 'Classification_AcquireData',
 'forms-i',
 '8.4.2-series',
 'decision-trees',
 'b-clustering',
 'spark-execution-diagram.svg',
 'Classification_Appendix_CustomFillNulls',
 'postwork',
 'dom',
 '2-continuous-probabilistic-methods.ipynb',
 'Correlation.md',
 'navigating-the-filesystem',
 '8-group-by',
 'controllers',
 '7.5.1_KMeans1',
 '3.5.0-clauses-overview',
 '2-continuous-probabilistic-methods',
 'beef-up-your-blog.html',
 '8._Time_Series.md',
 'security',
 '2.02.03_Power_Analysis',
 'joins',
 'one',
 '6.04.04_LogisticRegression',
 '2.3-sampling',
 'keyboard-events',
 '202',
 '5.01_Prep',
 'validation.html',
 '2-inferential-stats',
 '5-inspect',
 'team',
 '3.3-explore-and-get-features.md',
 '4_list_comprehension_exercises',
 'introduction-to-strings.html',
 'ui',
 'forms',
 '9.3-joins',
 '7.1_Overview',
 '06-moving-files',
 'intellij-tomcat-configuration',
 '4-python',
 'hfdgafdja',
 'wp-admin',
 'dendogram_sample.jpeg',
 'merge_Binary',
 '2.1-probability_and_event_interactions',
 '4.6.2_introduction_to_numpy',
 'assets',
 'model_old',
 'Classification_KNN',
 'MoviesArray.java',
 'integration-tests',
 'css-i',
 'type-juggling-and-booleans.html',
 '0',
 'modeling-lesson2',
 'slidesexceptions_and_errorhandlings',
 'interview-questions-behavioral',
 '5.05_Deliver',
 'java-i',
 'working-with-data-types-operators-and-variables',
 '9.20_Data',
 '2-regression-excel',
 'Intro_to_Classification_Module',
 '5.2-prophet',
 'prepare',
 '13.02_Tableau',
 'search_index.json',
 'job-portal',
 'registration',
 'box',
 'order-by',
 'foreach-with-keys.html',
 '10.4_Prepare',
 '3.2-virtual-environments',
 'selectors-and-properties.html',
 '9-anomaly-detection',
 '10.00_Intro.md',
 '130',
 'misleading1_baseball.jpg',
 '8._Time_Series',
 'Module_6_Classification',
 '6.4_Prep',
 '3-getting-started',
 '4.4_functions',
 '10-nlp',
 'map-filter-reduce.html',
 'open_data',
 '2-cross-validation',
 'magic-methods.html',
 '4.5_imports',
 '4-prepare',
 'dom-query-js.html',
 '7.5.2_KMeans2',
 'correlation',
 '4-tables',
 't9-solution',
 '4.2_data_types_and_variables',
 'foreach.html',
 'pos-tagging',
 'loguout',
 'intro-to-flask',
 'intro-to-data-science.md',
 'branching',
 '600%20Navarro%20St.,%20San%20Antonio,%20TX%2078205,%20United%20States%20of%20America',
 'specimen',
 'cross-validation',
 'nlp',
 '5.1-parametric-modeling',
 'SVM_NLP',
 'database-systems',
 'css-grid-in-practice',
 'Clustering_Prep.md',
 '12.01_SocialNetworkAnalysis',
 'internal-functions.html',
 'continuous-probabilistic-methods',
 'function',
 'datascience',
 '10.00_Intro.html',
 '2.5-distributions-and-testing',
 '13.3_Refine',
 'boolean-data-type.html',
 '24',
 'break-continue.html',
 '.git',
 'dom-events.html',
 'database-design',
 '9_Appendix_Isolation_Forest',
 '11-more-exercises',
 'npm',
 '7-classification',
 'control-structures-ii',
 '11_Appendix_Acquisition',
 'file-paths',
 'warmups',
 'Lesson_Modeling',
 'bootstrap-introduction.html',
 'setup',
 'saas.csv',
 'post-with-php.html',
 'entity-labeling',
 '12-distributed-ml',
 'word-2-vec',
 'explore-old',
 '6-imports',
 'curie-statistics-assessment',
 'seeder',
 'servlets',
 'variables',
 '11.04.03_Prepare_part3',
 'variable',
 '4.1-hypothesis-testing-overview',
 'spark-api',
 '2-intro-to-timeseries',
 '9.1-relationships-overview',
 '3.8.3-subqueries',
 'Explore_Lesson',
 '3.3-building-a-model',
 '4.1_introduction',
 '7.4-intro-to-pandas',
 'Regression_Project2',
 'Clustering_Project',
 'Classification_DecisionTree',
 'grids.html',
 'ajax-api',
 'multivariate-regression-in-excel.md',
 'vocabulary',
 'help',
 'get-with-php.html',
 'htmle-css',
 'tiger',
 'RESTful-api',
 'mysql.html',
 'prework.com',
 'jpa',
 'www.who.int',
 'seeders.html',
 '3.8.0-relationships-overview',
 'javascript',
 '2.03.05_NormalityTests',
 '7.01_Acquire',
 'alumni-tech-survey-2018.html',
 'creating-custom-fields.md',
 '3.9-temporary-tables',
 'subqueries',
 'sql.mysql-overview',
 'views',
 '120',
 '3.1-descriptive-stats',
 'flexbox',
 '26',
 'inputs.html',
 'tidy-data',
 'web-dev-day-two',
 'discrete-probabilistic-methods',
 'virtual-environments',
 '643',
 '13._Storytelling',
 'detecting-with-clustering',
 '12-advanced-topics',
 '3-vocabulary.md',
 'switch.html',
 'io-streams.html',
 '7.3_Wrangle',
 '11.03_Inspect',
 'fundamentals',
 '6.1_Overview',
 '7-explore',
 'jdbc-statements',
 'chart-keywords',
 'www.qlik.com',
 '12-more-exercises',
 'ml-methodologies-drawing.jpg',
 'intro-to-data-science',
 'Clustering_KMeans_1',
 '916',
 'composer.html',
 '6.6.3_Random_Forest',
 'memory-game',
 'relationships',
 'cli-05-creating-files-and-directories',
 'styling-webpages',
 'interview_questions_instructors',
 'end-to-end-clustering',
 '4.7-correlation',
 'user-defined-functions',
 'main-pages_xXxXx.html',
 'logouts',
 'try-catch.html',
 'BuiltIn_Datasets',
 '2-intro-to-classification',
 '3.8-json-responses',
 'connect-to-db.html',
 'style',
 'sales-tax',
 '07-editing-files-with-vim',
 'dbscan',
 '4.8-feature-scaling',
 '6.04.01_Preprocessing',
 'passing-arguments.html',
 'create-game',
 '7_DBSCAN',
 '10.3_Acquire',
 '11.01.03_Summarize',
 '01-intro',
 'Intro_to_Classification',
 'intellij-intro',
 '5.01',
 'search',
 'compare-means',
 '11._Environment_Setup',
 'selectors',
 'show-hide-toggle.html',
 'intro-to-matplotlib',
 'quizzes',
 'operators',
 '8.1-ds-libraries-overview',
 'fer',
 'prepared-statements',
 '115',
 'jsp_and_jstl',
 '3.5.2-order-by',
 '6-ml-with-spark',
 'form-model-binding',
 'Classificaiton_LogisticRegression',
 'codeup',
 'handout',
 'geo',
 '11.04.04_Prepare_part4',
 'flexbox-in-practice',
 'ux',
 'executing-queries.html',
 '7-model',
 'strings',
 'ds-environment-setup',
 'ml-with-spark',
 'order-by.html',
 'where.html',
 'f',
 '3.6-evaluation',
 'css-ii',
 'ad-lister',
 'typography',
 'html-css.html',
 'handling-missing-values',
 'functions.html',
 'wp-login',
 '%20https:',
 'initializing-a-repository.html',
 'html-css',
 'aliases',
 'controllers.html',
 'loops.html',
 '2-introduction-to-python',
 '7.2-intro-to-matplotlib',
 'exiting-the-shell.html',
 'Hospital-Distance-Clusters.jpg',
 'functions',
 '11-case-statements',
 'else-elseif.html',
 'form',
 '75',
 '912',
 '3.4-creating-custom-fields',
 'distributed-ml',
 'create-a-park-model.html',
 'arguments.html',
 'intermediate',
 '05_creating_files_and_directories',
 '6.2-decision-trees',
 '6_Project',
 'css-grid-additional-features',
 'www.followthemoney.org',
 'Selecting_a_hypothesis_test.svg',
 'dataframes',
 '9.3_Detect_Through_Isolation_Forest',
 '11.05_Explore',
 'sw-project-planning',
 'bonus-exercises',
 'databases',
 'css-resets',
 '8_Appendix_SVR',
 'pdfmake.min.js.map',
 'MaterialIcons-Regular.woff',
 '10-temporary-tables',
 'DataSets_GoogleAnalytics',
 'using-clusters',
 '7.1-ds-libraries-overview',
 '11.01.01_ConnectingToSpark',
 'console_io',
 '10.02.03_TFIDF',
 ',%20https:',
 'logincss',
 'compare-group-membership',
 'passwords',
 'control-structures.html',
 'www.stat.ucla.edu',
 '7_Hierarchical',
 'visuals',
 'inheritance.html',
 'This%20alumnus%20works%20for%20Appdiction%20Studios,%20as%20of%20this%20timestamp.%20This%20company%20is%20launching%20a%20bootcamp%20program%20in%20competition.%20For%20this%20reason,%20curriculum%20access%20is%20disabled%20until%20further%20notice.',
 'dependencies',
 '4.6.4_introduction_to_seaborn',
 'host-wildcards.md',
 'Regression_Project',
 'confusion-matrix',
 '1-fundamentals',
 '7.02_Prep',
 'static.html',
 'boostrap-grid-system',
 'mars-rover.html',
 '6.00_Intro.md',
 '1-descriptive-stats',
 '%7Bid%7D',
 'bom.html',
 'null',
 'reddit.html',
 '4.6-compare-means',
 '2.00_About_Excel',
 '6._Classification.md',
 'authorization',
 '268',
 'ltc-python',
 '3.0-mysql-overview',
 '3-spark-api',
 'arash-arghavan',
 'environment-setup.md',
 'more-statistical-testing-examples',
 '06_moving_files',
 '5.1-modeling-lesson1',
 '9_Appendix_TSAD_Lesson2',
 'introduction',
 '6.02.01_Prep',
 "'",
 'logical-operators.html',
 '2.01.00_Descriptive_Stats',
 'Intro_to_Regression_Module',
 '6-classification',
 '7.04.01_Partitioning',
 'refine-present',
 'interview-guidance',
 'users',
 '8.1_Project',
 '3-univariate-regression-in-excel',
 'bootstrap-grid-system',
 '918',
 'control-structures-i',
 'job-search-workshop',
 '598dc43df39e2.jpg',
 'essential-methods',
 'knn.md',
 '03_file_paths',
 'pdf-parser.html',
 'www.basketball-reference.com',
 '3.4-feature-engineering',
 '4-multivariate-regression-in-excel',
 'internal_functions.php',
 'content..',
 'services',
 '..%c0%af',
 'exceptions_and_error_handlings',
 'statistics-assessment',
 'servlets-with-jsps',
 'welcome',
 'js',
 '5-evaluate',
 'itc%20-%20ml',
 'inventory.json',
 '3-file-paths',
 '10_Exercises',
 'hoisting',
 '3-databases',
 '4.0_overview',
 'intro',
 'conditionals.html',
 'poop',
 'evaluate',
 'elements.html',
 '3.0-split-and-scale',
 'classes-and-objects-ii',
 '7_Summarize',
 'json-response',
 'classes-and-objects-i',
 'logistic-regression',
 'bad-charts',
 'alumni-tech-survey-2018',
 'cssasxz',
 'DataSets_PneumoniaDetection',
 'file-io',
 'interview-questions-students',
 'deployment-and-dependencies',
 '5.0-evaluate',
 'intro-via-interactive-shell',
 '6.02.02_MissingVals',
 '6.2-prophet',
 '10_Project',
 '7.2_About',
 'hoisting.html',
 'cli-git-overview',
 '6.6.2_Decision_Tree',
 'professional-resume',
 '5.01_Acquire',
 'tables.html',
 'google-maps-api',
 'classical_programming_vs_machine_learning.jpeg',
 'html',
 'confusion-matrix.md',
 '6.1-clauses-overview',
 '7-clustering',
 '7.4_Explore',
 'where',
 'if-continued.html',
 'visibility.html',
 '11.03_Explore',
 'j',
 'intro-to-seaborn',
 '2.03.06_CorrelationTests',
 '8.0-Project',
 'sequel-pro',
 '1-intro-to-data-science',
 'jasmine-3.5.0.zip',
 'indexes.html',
 'introducion',
 '12.3.2_Building_A_Model',
 'g',
 '11.00_Intro',
 '10_Regex',
 '6.1-parametric-modeling',
 'capstones',
 'reports.yml',
 '3-split-and-scale',
 'refine',
 '2-intro-to-regression',
 '2.00.05_Explore_Viz_Excel',
 '2.02.02_Functions',
 'E2E_example',
 '04-navigating-the-filesystem',
 'if-statement',
 'mvc.jsp',
 'interview_questions_students',
 'learn-to-code',
 'introduction_to_java',
 'email-setup',
 '5-creating-files-and-directories',
 '7.0-model',
 'research',
 '7.5-intro-to-seaborn',
 'array-splice',
 '3-discrete-probabilistic-methods.ipynb',
 'servelet',
 'data-1',
 '2.2-probability_distributions',
 '8.7_Project',
 'Exploration_Lecture',
 'formmodelbinding',
 'submit',
 '5._Regression',
 'team-setups',
 '2-overview',
 'vertical-resume',
 'testing-code.md',
 'pandas-lesson',
 'html-templates',
 'exceptions-and-error-handling',
 '2.02.05_Compare_Means',
 'DataSet_Zillow',
 '6.3-order-by',
 'npm.html',
 '4-navigating-the-filesystem',
 'facebook-clone.html',
 'requests-and-responses',
 'website-status-page.html',
 'jupiter',
 'sessions.html',
 '2-Overview',
 'more-exercises',
 'Appendix_Vocabulary',
 'grid',
 'ds.codeup.com',
 'toc',
 '8.4.1-pandas-overview',
 'ds-libraries-overview',
 '2.03.07_ParametricTests',
 '9_Appendix_TSAD_Lesson',
 '2.00.01_Excel_Shortcuts',
 '7-working-with-files',
 'limit',
 'traversing.html',
 'content',
 'control-stateedabitments-and-loops',
 '2.1-intro-to-excel',
 '2.1-excel-overview',
 'acquire',
 'mini_exercises',
 '11.04.02_Prepare_part2',
 'pandas-time-series',
 '03-filepaths',
 'junit-tdd',
 'project',
 '12.3.5_HTML_Forms',
 'databases.html',
 '02-listing-files',
 'data',
 'php_ii',
 '8.04.02_ParametricModeling',
 '6.0-feature-engineering',
 'collections',
 'ada-capsontes.html',
 'positioning',
 'overview',
 'purpose',
 '3.5-creating-dashboards',
 '6.04.07_Ensemble',
 'glossary',
 '13.01.02.01_Prep',
 'if_and_or.php',
 '8.4.3-dataframes',
 'cheatsheet.tex',
 '9.5_DBSCAN_to_detect_anomalies',
 'Intro_to_Regression',
 '4.6.1_introduction_to_matplotlib',
 'bootstrap-grid',
 '13_Overview',
 'css-grid-fundamentals',
 'connecting-to-data',
 'hierarchical',
 '11._DistributedML',
 'itc-ml',
 'javascript_ii',
 'math.html',
 'console-io',
 '2.3-preparing-data',
 'committing.html',
 'mysql-introduction',
 'java-iii',
 'grades.csvhttp:',
 'clauses',
 '13.01.02.03_Sketch',
 '5-modeling',
 'aliases-and-functions',
 'svr',
 '3.1-acquire-and-prep',
 '4.4-compare-group-membership',
 '98',
 '2-detecting-through-probability',
 'quizes',
 '11.04.01_Prepare_part1',
 '5.04.03_RidgeRegression',
 '4-control-structures',
 '1-mysql-overview',
 'flexbox-fundamentals',
 'merge_Explore',
 '8-timeseries',
 '3-wrangle',
 '2.01_Descriptive',
 '0-overview',
 'keyboard-events.html',
 '4-prep',
 '2.8-feature-scaling',
 'delete.html',
 'data-viz-references',
 '8.02_Prep',
 'javascript-with-html',
 '7.04.02_Hierarchical',
 'pagination',
 'technology-companies.php',
 'creating-custom-fields',
 'object_oriented_programming',
 'now_what.jpg',
 'testing-user-functions',
 'promises.html',
 '5-regression',
 'promises',
 '11_Environment_Setup',
 'timeline',
 'simple-simon',
 '9.2-indexes',
 'templating',
 'insert.html',
 'uploads',
 'throwing.html',
 'hypothesis-testing-overview',
 'least-angle-regression',
 'control_statements_and_loops',
 '10.04.01_FeatureExtraction_FreqBased',
 '2.00.03_Import_Excel',
 '6.3-random-forests',
 'if_else.php',
 '5-stats',
 '2',
 'map-filter-reduce',
 '2.00.00_Excel_Prob_Stats',
 'doing-math-in-the-shell.html',
 'dashboard.md',
 '2.0_Intro_Stats',
 'repo-doc',
 '00_index',
 '6.1-prepare-part-1',
 'models',
 '4.6.3_introduction_to_pandas',
 'working-with-time-series-data-with-pandas',
 'es6',
 'explode-and-implode.html',
 '10_Appendix_EntityLabeling',
 '3',
 '11.03_Explore.md',
 'hand',
 'edit',
 '6_Exercises',
 'servelets',
 '1-fundamentals-overview',
 'javascript-1',
 '13_Exercises',
 '2.2-excel-functions',
 'diagram-of-ds-pipeline-fraud-example.jpeg',
 'modules.html',
 'late-static-binding.html',
 'getting-started',
 'javascri',
 'elements',
 'box-model.html',
 'css_selectors.html',
 'www.google.com',
 '4.1-inferential-stats',
 '..%255c',
 '3.5-html-templates',
 'java-beans',
 'ntellij',
 '7-Copy1.3_Wrangle',
 'End_to_End_clustering',
 'prepared-statements.html',
 'readme.html',
 '6.6.4_KNN',
 'login',
 'creating-dashboards',
 'study-session-with-ryan',
 'contacts-manager.html',
 '5.04.04_LeastAngleRegression',
 'calculator',
 'bom-and-dom',
 'working-with-dat-types-operators-and-variables',
 '13.01.02_Create',
 '58a217a705bde.jpg',
 'host-wildcards',
 '4-detecting-with-clustering',
 '2-continuous-probabilistic-methods.ipynb.md',
 'pushing-and-pulling.html',
 'further-reading',
 '8.04.03_MLModeling',
 '10_Projects',
 'relationships.html',
 'mock-behavioral-question',
 'home',
 'AI-ML-DL-timeline.jpg',
 'alumni',
 'forms.html',
 '4-explore',
 '2._Stats',
 'Classification_Appendix_Ensemble',
 'website-status-page',
 'single-page.html',
 'src',
 'probability-distributions',
 'handling-user-input.html',
 '6.04.06_RandomForest',
 'header_two.jpg',
 'positioning.html',
 'mac-tips',
 'ajax-intro.html',
 'Classification_Explore',
 'mysq',
 'codeup-exercises',
 '2-mysql-introduction',
 '7_Review',
 'setting-up-sample-db.html',
 '12.3.3_Flask_Intro',
 '11-distributed-ml',
 'Classification_LogisticRegression.md',
 'short_evaluation',
 '2.6-compare-means',
 '6_SVM',
 'select.html',
 'query',
 'Regression_Python1',
 'getUserDetails',
 'intro-to-numpy',
 'merge_Deliver',
 'threads',
 'file-op',
 '3.4-basic-statements',
 'data-science-pipeline',
 'intro-to-strings-continued.html',
 'login-form.html',
 'intergers-and-floats.html',
 '05-creating-files-and-directories',
 'google.com',
 '5.0_Intro_Regression',
 'es6.html',
 'devtools-configuration',
 'regression',
 '6.2-prepare-part-2',
 'coding_best_practices',
 '2.00.01_Intro_Excel',
 'templating.html',
 '3-sql',
 '8.1_Overview',
 '2.4-present',
 'layout',
 'app',
 'mvc',
 '6.4-prepare-part-4',
 'pizza.pn',
 'mutators.html',
 '3.2-connecting-to-data',
 'interfaces-and-abstract-classes',
 '3.7-styling-webpages',
 '167',
 '10_Appendix_TopicModeling',
 '7_Projects',
 'pizza.png;',
 'loop',
 '1-tidy-data',
 '8_Exercises',
 '11.01.01_ConnectingToSpark.md',
 '9._Anomaly_Detection',
 '2.00.03_PrepareData_Excel',
 'feature-engineering',
 '8.4.4-advanced-dataframes',
 '13_Appendix_ChartTypes',
 'color',
 '11_Intro',
 'Excel_Shortcuts',
 'registerUser',
 'promisesdfghjkjhgfs',
 '11_Appendix_CommonPySparkClasses',
 'cli-03-file-paths',
 '10.2_Regex',
 'favicon.ico',
 '8.2-intro-to-matplotlib',
 'exceptions_and_errorhandlings',
 '04_navigating_the_filesystem',
 '8.3-intro-to-numpy',
 'intro-to-arrays.html',
 'quickstart',
 'hierarchical_circle.png!%5Bimage.png%5D(attachment:9d62ad1d-11fe-4abd-abbc-266425f5205a.png)!%5Bimage.png%5D(attachment:64c8827f-b1ff-4187-9d76-72b95ff78926.png)!%5Bimage.png%5D(attachment:2fee2135-1db8-4ea1-afc7-827911238f50.png)!%5Bimage.png%5D(attachment:671c2e2a-39f1-4137-9aab-17bde0eb89e3.png)',
 'using-files',
 'array-functions',
 '2-environment-setup',
 'register.html',
 '9.3_Detecting_TimeSeries_Anomalies',
 'environment-setup',
 '27',
 'Exercises',
 '8.6.2_MLModeling',
 'primitive-types',
 'dates.html',
 'introduction-to-python.md',
 'definition-and-syntax.html',
 '10._NLP',
 'curie-python-assessment',
 'github.com',
 '4_panda_bears',
 'javascript.html',
 'Input.php',